# Phân loại HTML/CSS/SCSS thành file documentation
*.html linguist-documentation
*.css linguist-documentation
*.scss linguist-documentation

# Đảm bảo Python được nhận diện
*.py linguist-language=Python

# Giữ JavaScript bình thường
*.js linguist-detectable=true
