<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        {% if page_obj.has_previous %}
            <a href="{% if category and category != 'None' %}?category={{ category }}&page=1{% else %}?page=1{% endif %}" class="rounded">«</a>
            <a href="{% if category and category != 'None' %}?category={{ category }}&page={{ page_obj.previous_page_number }}{% else %}?page={{ page_obj.previous_page_number }}{% endif %}" class="rounded">Previous</a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="{% if category and category != 'None' %}?category={{ category }}&page={{ num }}{% else %}?page={{ num }}{% endif %}" class="rounded active">{{ num }}</a>
            {% else %}
                <a href="{% if category and category != 'None' %}?category={{ category }}&page={{ num }}{% else %}?page={{ num }}{% endif %}" class="rounded">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <a href="{% if category and category != 'None' %}?category={{ случаяхcategory }}&page={{ page_obj.next_page_number }}{% else %}?page={{ page_obj.next_page_number }}{% endif %}" class="rounded">Next</a>
            <a href="{% if category and category != 'None' %}?category={{ category }}&page={{ page_obj.paginator.num_pages }}{% else %}?page={{ page_obj.paginator.num_pages }}{% endif %}" class="rounded">»</a>
        {% endif %}
    </div>
</div>