{% load static %}
<div class="row g-4">
    {% for product in page_obj %}
        <div class="col-md-6 col-lg-4">
            <div class="rounded position-relative fruite-item">
                <a href="{% url 'detail' %}?id={{ product.id }}" class="text-decoration-none">
                    <div class="fruite-img">
                        <img src="{{ product.ImageURL }}" class="img-fluid w-100 rounded-top" alt="{{ product.name }}">
                    </div>
                </a>
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ product.category }}</div>
                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.first_sentence }}</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">${{ product.price }} / kg</p>
                        <button data-product="{{ product.id }}" data-action="add" class="btn border border-secondary rounded-pill px-3 text-primary update-cart">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>